body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
}

.container {
  max-width: 1146px;
  min-width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  outline: 1px solid red;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 10px;
  outline: 1px solid red;
}

.main-header-logo {
  padding-top: 10px;
  width: 154px;
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

.main-menu-link {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: 7px 13px;
  margin-bottom: 5px;
}

.main-menu-link:hover {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 40px;
}

.main-menu-link:active {
  box-shadow: inset 0 2px 1px #696969;
}

.main-menu-link-catalog {
  background-color: #d07058;
  border-radius: 40px;
}

.main-menu-link__title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-menu-navigator {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -7px 0 0 11px;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  flex: 1;
  outline: 1px solid red;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  margin-top: 2px;
  outline: 1px solid red;
}

.user-navigation__item {
  margin-left: 8px;
}

.user-navigation a {
  display: block;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropdown:hover .main-menu-link {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 40px;
}

.dropdown:hover .dropdown-child, .dropdown:focus .dropdown-child, .dropdown:active .dropdown-child, .dropdown-child:hover {
  display: block;
}

.dropdown-child {
  position: absolute;
  left: -7px;
  list-style: none;
  padding: 6px 0;
  background-color: #f7f6f3;
  display: none;
  min-width: 143px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.dropdown-child__item {
  padding: 6px 6px 6px 19px;
  transition: all 0.25s ease;
  font-size: 14px;
  font-weight: normal;
}

.dropdown-child__item_bold {
  font-weight: bold;
}

.dropdown-child__item_separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: calc(100% - 12px);
  position: relative;
  left: 6px;
  padding-top: 4px;
  margin-bottom: 4px;
}

.dropdown-child__item:hover {
  background-color: #fbded8;
  cursor: pointer;
}

.dropdown-child__item:active {
  background-color: #f6b5a5;
  cursor: pointer;
}

.dropdown-child a {
  text-decoration: none;
  color: #323232;
}

.navigator-contact {
  color: #ffffff;
  margin-top: -7px;
  text-align: right;
  outline: 1px solid red;
}

.nav-search {
  background-color: rgba(255, 255, 255, 0.32);
  color: white;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  background-image: url("../img/magnifier.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-entrance {
  display: block;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 40px;
  padding: 8px 16px;
  color: #ffffff;
}

.basket {
  display: block;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 40px;
  padding: 8px 16px;
  color: #ffffff;
  background-image: url("../img/basket.png");
  background-repeat: no-repeat;
  background-position: 13px 6px;
}

.full-basket {
  color: black;
  background: url("../img/cart-full.png")
}

.user-entrance {
  position: relative;
  padding-left: 43px;
  font-weight: 500;
  background-image: url("../img/login.png");
  background-repeat: no-repeat;
  background-position: 16px 6px;
}

.user-entrance:hover {
  background: url("../img/entrance-hover.png");
  color: black;
}

.user-entrance-mouseover {
  background: url("../img/entrance-hover.png");
  color: black;
}

.nav-search::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  top: 0;
}

.nav-search:hover {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../img/magnifier-hover.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  left: 0;
  top: 0;
  z-index: 5;
}

.nav-search-mouseover {
  background-image: url("../img/magnifier-hover.png");
}

.basket {
  position: relative;
  padding-left: 43px;
  font-weight: 500;
}

.navigator-number {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
}

.navigator-time {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.site-wrapper {
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before, .site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/ice-cream-slider2.png");
}

.site-wrapper::after {
  background-image: url("../img/ice-cream-slider3.png");
}

.slider {
  position: relative;
  padding-top: 280px;
  margin-bottom: 38px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 39px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

#product-1:checked~.site-wrapper #slide1, #product-2:checked~.site-wrapper #slide2, #product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"], #product-2:checked~.site-wrapper label[for="product-2"], #product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

.breadcrumbs a, .breadcrumbs {
  color: #ffffff;
  list-style: none;
  margin-right: 20px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0px;
  outline: 1px solid red;
  font-size: 14px;
  font-weight: normal;
}

.breadcrumbs-link {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.breadcrumbs-link-ending {
  text-decoration: none;
  cursor: default;
}

.breadcrumbs-separaite {
  position: relative;
  left: -10px;
}

.sale-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0;
  outline: 1px solid red;
}

.menu-selection {
  margin: 0px 0 0 -7px;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.menu-selection-button {
  display: inline-block;
  padding: 7px 28px;
  min-width: 84px;
  min-height: 16px;
  color: #ffffff;
  background: #a6b7ae;
  font-size: 16px;
  border-radius: 50px;
  border: #f6f8f7 2px solid;
  box-shadow: none;
}

.menu-selection-button:hover {
  color: black;
  background-color: #fbfcfb;
}

.menu-selection-button:active {
  box-shadow: inset 0 2px 2px rgb(138, 139, 138);
  border: none;
  width: 144px;
  height: 35px;
  background-color: #eaeaea;
}

.catalog-selection-list {
  display: inline-block;
  font-weight: normal;
  position: relative;
  margin-bottom: 19px;
  margin-left: -5px;
}

.catalog-label {
  position: absolute;
  bottom: 50px;
  left: 24px;
}

.menu-selection-list {
  display: inline-block;
  background: #a6b7ae;
  margin: 10px;
  border-radius: 50px;
  padding: 7px;
}

.menu-selection-list-consistency {
  max-width: 412px;
}

.menu-selection-list-sort {
  display: inline-block;
  background: rgba(169, 186, 176, 0.7);
  margin: 10px;
  border-radius: 50px;
}

.label-radio {
  margin-left: 37px;
  margin-right: 1px;
  position: relative;
  cursor: pointer;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid #eef2f0;
  border-radius: 50%;
  left: -30px;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #eef2f0;
  top: 4px;
  left: -23px;
  border-radius: 50%;
}

.checkbox+label {
  position: relative;
  padding: 1px 0 0 54px;
  cursor: pointer;
  margin: 0 10px 0 -13px;
}

.checkbox+label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 27px;
  background: url("../img/checkbox-off.png") no-repeat;
}

.checkbox+label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 27px;
  width: 50px;
  height: 26px;
  background: url("../img/checkbox-off.png") no-repeat;
}

.checkbox:checked+label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 27px;
  width: 50px;
  height: 26px;
  background: url("../img/checkbox-on.png") no-repeat;
}

.checkbox:checked+label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 27px;
  width: 50px;
  height: 26px;
  background: url("../img/checkbox-on.png") no-repeat;
}

.menu-catalog-select {
  background: url("../img/icon-down-dir.png");
  border-radius: 50px;
  padding: 9px 17px;
  width: 193px;
  font-size: 16px;
  color: #ffffff;
}

.menu-catalog-select:hover {
  border-radius: 50px;
  padding: 9px 17px;
  width: 193px;
  font-size: 16px;
  color: #323232;
}

.menu-catalog-select:active {
  background: url("../img/icon-down-dir-act.png");
}

.menu-catalog-select option {
  color: black;
}

.select {
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 177px;
  height: 4px;
  background-color: #d1dad3;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 22px;
  background-image: url("../img/filter-button.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="range"].multirange {
  padding: 0;
  margin: 10px 14px;
  display: inline-block;
  vertical-align: top;
}

input[type="range"].multirange.original {
  position: absolute;
}

input[type="range"].multirange.original::-webkit-slider-thumb {
  position: relative;
  z-index: 2;
}

input[type="range"].multirange.original::-moz-range-thumb {
  transform: scale(1);
  z-index: 1;
}

input[type="range"].multirange::-moz-range-track {
  border-color: transparent;
}

input[type="range"].multirange.ghost {
  position: relative;
  background: var(--track-background);
  --track-background: linear-gradient(to right, transparent var(--low), var(--range-color) 0, var(--range-color) var(--high), transparent 0) no-repeat 0 52% / 100% 20%;
  --range-color: #f8f7f4;
}

input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
  background: var(--track-background);
}

input[type="range"].multirange.ghost::-moz-range-track {
  background: var(--track-background);
}

.button-link {
  display: block;
  padding: 11px 22px;
  margin-right: 22px;
  min-width: 169px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  box-sizing: border-box
}

.sale-berries {
  background-image: url("../img/raspberries.jpg");
  background-repeat: no-repeat;
}

.discount {
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;
  padding-left: 20px;
}

.sale-berries, .sale-chocolate {
  width: 560px;
  height: 229px;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

.sale-chocolate {
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  outline: 1px solid red;
}

.berries-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.sale-berries .button-link, .sale-chocolate .button-link {
  display: inline-block;
  float: right;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  text-align: center;
  white-space: nowrap;
  min-width: 165px;
  min-height: 46px;
  box-sizing: border-box;
  border-color: #ee5e3e;
  background-color: #ee5e3e;
}

.button-link:hover, .button-link:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-link:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.catalog-list {
  display: flex;
  padding: 0;
  margin-bottom: 40px;
  width: calc(100% + 26px);
  outline: 1px solid red;
  margin-left: -13px;
  position: relative;
  min-height: 327px;
  flex-wrap: wrap;
  margin-top: 23px;
}

.catalog-product {
  color: #ffffff;
  list-style: none;
  margin: 0 0 33px 0;
  /* padding: 6px 13px 0; */
  width: 25%;
  position: relative;
  outline: 1px solid red;
  box-sizing: border-box;
  height: 327px;
}

.catalog-product:hover {
  z-index: 1;
}

.catalog-product .button-link {
  width: 200px;
  margin: 0 auto;
  padding: 11px;
}

.button-link.hidden {
  display: none;
}

.catalog-product:hover .button-link.hidden, .catalog-product__link:hover+.button-link.hidden {
  display: block;
  position: absolute;
  bottom: -64px;
  left: 49px;
}

.catalog-item-image {
  margin: 0;
  height: 267px;
}

.catalog-item-image::before {
  content: "";
  position: absolute;
  width: 62px;
  height: 62px;
  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
}

.catalog-product__link {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: #ffffff;
  padding: 6px 13px 0;
  transition: all 0.25s ease;
}

.catalog-product:hover .catalog-product__link, .catalog-product__link:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  height: 412px;
  z-index: 1;
}

.catalog-category {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  order: 1;
  margin: 13px 0;
}

.catalog-item-price {
  margin: 0;
  position: absolute;
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
  top: 215px;
}

.catalog-item-price span {
  font-size: 30px;
  line-height: 45px;
}

.main-info {
  background-image: url("../img/wafer.jpg");
  background-repeat: repeat;
  background-color: #ede1c7;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #323232;
  outline: 1px solid red;
  height: 306px;
}

.main-info-market {
  color: #575550;
  font-size: 24px;
  line-height: 30px;
  outline: 1px solid red;
  margin: 3px 0 -10px 0;
}

.information {
  display: flex;
  padding: 0;
  height: 218px;
  flex-direction: column;
  flex-wrap: wrap;
}

.info-list {
  color: #575550;
  font-size: 16px;
  line-height: 22px;
  list-style: none;
  width: calc(50% - 60px);
  padding-left: 60px;
  font-weight: normal;
}

.info-list.ice-cream-icon {
  background: url("../img/ice-cream.png") 0 0 no-repeat;
}

.info-list.leaf-icon {
  background: url("../img/leaf.png") 0 0 no-repeat;
}

.info-list.cow-icon {
  background: url("../img/cow.png") 0 0 no-repeat;
}

.info-list.thermometer-icon {
  background: url("../img/thermometer.png") 0 0 no-repeat;
}

.blog-mailling {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 37px;
  outline: 1px solid red;
}

.blog {
  background-image: url("../img/barries.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 15px;
  width: 560px;
  height: 220px;
}

.blog-news {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  padding: 22px 0 0 18px;
  margin: 0;
}

.blog-category {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  padding: 4px 213px 0 18px;
  margin: 0;
  position: relative
}

.blog-category__link {
  color: #323232;
  text-decoration-line: underline;
}

.mailing {
  background: url("../img/envelope2.png") no-repeat;
  border-radius: 15px;
  width: 560px;
  color: #848483;
  padding: 15px 27px 23px 27px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  position: relative;
}

.email-admit {
  padding: 0;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  width: 129px;
  height: 44px;
  position: absolute;
  bottom: 40px;
}

.input-email {
  display: inline-block;
  font-size: 16px;
  width: 336px;
  height: 42px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 0 15px;
  margin-top: 18px;
}

.contact-map {
  margin-left: -27px;
  position: relative;
}

.contact-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1px;
  padding-right: 55px;
}

.adress-text {
  margin: 0;
  font-size: 18px;
  padding-right: 55px;
}

.phone-contact {
  margin-top: 18px;
  margin-bottom: 3px;
}

.telephone {
  text-decoration: none;
  color: black;
}

.opening-hours {
  margin-bottom: 24px;
  margin-top: 4px;
}

.contact-info {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 12px 26px;
  color: #323232;
  position: absolute;
  right: 0;
  top: 62px;
  border-radius: 20px;
  width: 248px;
  height: 278px;
}

.feedback {
  display: inline-block;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  height: 45px;
  width: 265px;
  position: absolute;
  right: 15px;
}
.pagination-section{
  display: block;
  position: relative;
  margin-top: 104px;
}

.pagination-list {
 position: absolute;
 right: -4px;
 bottom: 14px;
}

.pagination-item {
  list-style: none;
  display: inline;
  padding: 10px;
}

.pagination-item a {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
}

.pagination-item-current a {
  color: #323232;
  display: inline-block;
}

.pagination-item-current {
  border-radius: 50%;
  padding: 4px 10px;
  background-color: #ffffff;
  position: relative;
}

.pagination-item:hover {}

.pagination-item-current::before {
  content: "";
  background: url("../img/icon-left-small.png") no-repeat;
  width: 11px;
  height: 20px;
  position: absolute;
  right: 38px;
  top: 9px;
}

.pagination-item-current::after {
  content: "";
  background: url("../img/icon-right-small.png") no-repeat;
  width: 11px;
  height: 20px;
  position: absolute;
  left: 178px;
  top: 9px;
}

.modal-form {
  position: absolute;
  right: 160px;
  top: 59px;
  list-style: none;
  background-color: #f7f6f3;
  display: none;
  padding: 4px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #848483;
  font-size: 16px;
  font-weight: normal;
}

.search-form {
  position: absolute;
  right: 160px;
  top: 59px;
  list-style: none;
  background-color: #f7f6f3;
  display: none;
  min-width: 340px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #848483;
  font-size: 16px;
  font-weight: normal;
}

.search-input {
  width: 281px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding: 0 15px;
}

.login-input {
  display: inline-block;
  font-size: 16px;
  width: 242px;
  height: 43px;
  margin-left: 5px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 0 15px;
}

.entrance-form {
  float: right;
  height: 35px;
  width: 124px;
  margin-top: 0px;
}

.entrance-form a {
  color: #000000;
  text-decoration: none;
}

.button-entrance {
  float: left;
  min-width: 113px;
  padding: 11px 17px;
  margin-bottom: 16px;
}

.navigator-password-recovery, .navigator-registration {
  font-size: 13px;
  border-bottom: #000000 1px solid;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  outline: 1px solid red;
}

.footer-list a, .footer-list {
  color: #ffffff;
  text-decoration: none;
}

.footer-list-info {
  display: flex;
  padding: 0;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
  font-size: 13px;
  list-style: none;
  margin-top: 30px;
  font-weight: normal;
}

.footer-list-info-item {
  padding-right: 16px;
}

.footer-list-info-item a {
  border-bottom: rgba(218, 226, 222, 0.4) 1px solid;
}

.footer-list-info li:first-child {
  list-style-image: url("../img/heart.png");
  font-weight: bold;
}

.footer-copyright {
  margin-top: 10px;
  position: relative;
  top: 28px;
}

.footer-copyright a {
  color: #ffffff;
}

.copyright {
  font-weight: normal;
  font-size: 12px;
}

.academy {
  font-weight: normal;
  font-size: 12px;
}

.copyright-image {
  background: url("../img/logo-htmlacademy-small.png") no-repeat;
  margin-top: 18px;
  margin-bottom: 47px;
}

.social-button {
  text-decoration: none;
  padding: 0;
}

.social-button-list {
  display: inline;
  margin-right: 7px;
}

.social-button-list svg {
  border: rgba(218, 226, 222, 0.5) 2px solid;
  border-radius: 50%;
  opacity: 0.8;
}

.social-news {
  padding-left: 0;
  margin-left: 0;
  margin-top: 36px;
}

.social-button svg:hover {
  opacity: 1;
}

.social-button svg:active {
  border: rgba(218, 226, 222, 0.9) 2px solid;
  border-radius: 50%;
  opacity: 1;
}

.breadcrumbs-container {
  min-height: 1300px;
}

.catalog-footer {
  border-top: rgba(169, 187, 177, 0.9) 1px solid;
}

.page-title {
  font-size: 35px;
}

.modal {
  position: fixed;
  color: #000000;
  background-color: #f8f7f4;
  border-radius: 10px;
  display: none;
}

.feedback-modal {
  top: 120px;
  left: 50%;
  margin-left: -230px;
  width: 429px;
  padding: 25px 21px;
}

.feedback-text {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.feedback-form-textarea {
  color: #9E9E9E;
  font-size: 16px;
  width: 394px;
  font-weight: normal;
  border-radius: 5px;
  padding: 16px;
  border: #d3d3d2 1px solid;
  height: 120px;
}

.feedback-input {
  width: 266px;
  height: 44px;
  box-sizing: border-box;
}

.modal-close {
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background: url("../img/Х-big.png") no-repeat;
  position: absolute;
  top: 15px;
  right: 12px;
}

.feedback-button {
  float: right;
  margin: 7px 3px 0 0;
  width: 137px;
  height: 45px;
}

.feedback-notebook {
  margin-bottom: 12px;
  margin-top: 20px;
}

.modal-show {
  display: block;
}

.basket-form {
  display: block;
  position: absolute;
  top: 58px;
  right: 30px;
  min-height: 229px;
  min-width: 520px;
  padding: 7px 11px;
  display: block;
}

.basket-item {
  font-size: 13px;
  font-weight: normal;
  list-style: none;
  line-height: 16px;
  margin-bottom: 20px;
  position: relative;
}
.order-button {
  position: absolute;
  bottom: 27px;
  right: -1px;
  padding: 9px;
}

.cart-table {
  width: 511px;
  height: 113px;
  border-bottom: #cacac7 1px solid;
  padding-left: 26px;
}

.table-item {
  width: 216px;
  padding: 10px 19px 6px 7px;
}

.total-price {
  float: right;
  margin: 17px 7px;
  font-size: 15px;
}


.table-weight {
  width: 95px;
}

.table-price {
  color: #999999;
  padding-left: 5px;
}

.row-total {
  padding-left: 29px;
  width: 50px;
}

.table-image {
  width: 33px;
  height: 33px;
}
.cross {
  background: url("../img/cross.png") no-repeat;
  width: 11px;
  height: 11px;
  background-position: 2px 16px;
  padding: 6px;
}